{% extends 'base.html' %}
{% block content %}
<h1 class="text-3xl mb-6 font-semibold text-center">Каталог мебели</h1>
<div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
    {% for product in products %}
    <a href="{{ url_for('product_detail', product_id=product.id) }}" class="bg-gray-800 rounded-xl overflow-hidden hover:scale-105 transition">
        <img src="{{ url_for('static', filename='images/uploads/' ~ product.images[0]) }}" class="w-full h-64 object-cover">
        <div class="p-4">
            <h2 class="text-xl font-bold">{{ product.name }}</h2>
            <p class="text-sm text-gray-400">{{ product.category }}</p>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
